---
layout: page
---

<ul class="posts">
  {% for post in site.posts %}
    <li><a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</a></li>
  {% endfor %}
</ul>

<img alt="The word-cloud of blog posts" src="/images/cloud.png" width="450" height="330" border="0"/>

The source code for a creation of word-cloud from my all blog posts can be checked on my <a target="_blank" href="https://github.com/PetoLau/petolau.github.io/blob/master/_Rscripts/wordcloud.R">GitHub repository</a>.
