---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  <div class="date">
    Written on {{ page.date | date: "%Y-%m-%d" }}
  </div>

  <div class="entry">
    {{ content }}
  </div>
  
  
   <div class="center">
       <hr>
       <p><i>Seven coffees were consumed while writing this article.</i></p>
       <p><i>If you’ve found it valuable, please consider supporting my work and...</i></p>
       <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript' >kofiwidget2.init('Buy Me a Ko-fi', '#46b798', 'M4M7N8ZS');kofiwidget2.draw();</script>
       <hr>
   </div> 
  
  {% include share-page.html share-page_identifier=page.share-page_identifier %}
  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
